<!-- HEADER TITLE -->

<section id="header-title" class="col-xs-12 tx_center cl_white equipe">
  <h1 class="hpsimplified"> Notre équipe </h1>
  <p class="hpsimplified_lt"> Des professionnels RH, passionnés de l’humain et de sa vie au travail, spécialistes de leurs fonctions et jouissant d’une forte expérience dans le conseil aux particuliers et aux organisations. </p>
  <div class="pathway tx_upper wid_100">
    <span> <a href="index.html"> <i class="fa fa-home cl_white"></i> Accueil </a> </span>
    <span> / </span>
    <span> <a href="#"> Notre équipe </a> </span>
  </div>
</section>

<!-- END HEADER TITLE -->