<!-- NOUS OFFRONS -->

<section id="offers" class="col-xs-12 no-padding">
  <div class="contener">
    <div class="content bg_white tx_center">
      <h3 class="cl_blue hpsimplified no-margin">Ce que nous offrons</h3>
      <p>Nous rendons les équipes et les entreprises plus heureuses et plus productives en misant sur des approches créatives, collaboratives et génératrices d'intelligence collective.</p>
    </div> 
  </div>
</section>

<!-- END NOUS OFFRONS -->

<!-- STATISTIQUES -->

<section id="stats" class="col-xs-12 no-padding">
  <div class="content">
    <div class="col-xs-4 no-padding tx_center">
      <h3 class="hpsimplified">Placements de nos meilleurs profils</h3>
      <h2 class="hpsimplified cl_blue no-margin">15 000</h2>
    </div>
    <div class="col-xs-4 no-padding tx_center">
      <h3 class="hpsimplified">Taux d'inscription des PME depuis 2016</h3>
      <h2 class="hpsimplified cl_blue no-margin">28%</h2>
    </div>
    <div class="col-xs-4 no-padding tx_center">
      <h3 class="hpsimplified">Lorem ipsum dolor sit amets</h3>
      <h2 class="hpsimplified cl_blue no-margin">-335</h2>
    </div>
  </div>
</section>

<!-- END STATISTIQUES -->

<!-- EMPLOEYEUR-CANDIDAT -->

<section id="cand-empl" class="col-xs-12 no-padding">
  <div class="contener">
    <div class="col-sm-6 col-xs-12 cl_white">
      <h5 class="hpsimplified-rg">Je suis</h5>
      <h3 class="tx_upper hpsimplified">particulier</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore</p>
      <div class="no-padding col-xs-12">
        <a routerLink="inscriptpart" class="cl_white bt bg_blue"><i class="fa fa-edit"></i> &nbsp; S'inscrire</a>
      </div>
    </div>

    <div class="col-sm-6 col-xs-12 cl_white tx_right">
      <h5 class="hpsimplified-rg">Je suis</h5>
      <h3 class="tx_upper hpsimplified">entreprise</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br> sed do eiusmod tempor incididunt ut labore</p>
      <div class="no-padding col-xs-12">
        <a routerLink="entreprise" class="cl_white bt bg_blue"><i class="fa fa-user-plus"></i> &nbsp; Postuler</a>
      </div>
    </div>
  </div>
</section>

<!-- END EMPLOEYEUR-CANDIDAT -->

<!-- INSPIRER LE MIEUX ETRE -->

<section id="inspirer" class="col-xs-12 no-padding">

  
    <h2 class="hpsimplified-rg cl_blue tx_center">Inspirer le mieux être et le rendement</h2>
    <h4 class="head hpsimplified-lt tx_center">Notre valeur c'est le développement intégral du capital humain à travers la pratique juste et efficace des RH</h4>
    <div class="col-sm-6 col-xs-12 no-padding illust">
      <img src="assets/images/bg-inspirer.png" class="img-responsive">
    </div>
    <div class="col-sm-6 col-xs-12 no-padding desc">
      <h5 class="hpsimplified">Notre expertise se déploie sur plusieurs axes, à savoir :</h5>
      <ul class="no-puce no-padding no-margin">
        <li class="fl_left wid_50"><i class="fa fa-circle"></i> &nbsp; Conseil RH </li>
        <li class="fl_left wid_50"><i class="fa fa-circle"></i> &nbsp; Learning and development </li>
        <li class="fl_left wid_50"><i class="fa fa-circle"></i> &nbsp; Evaluation des performances </li>
        <li class="fl_left wid_50"><i class="fa fa-circle"></i> &nbsp; Partage de la fonction RH </li>
        <li class="fl_left wid_50"><i class="fa fa-circle"></i> &nbsp; Learning and development </li>
        <li class="fl_left wid_50"><i class="fa fa-circle"></i> &nbsp; Conseil RH</li>
        <li class="fl_left wid_50"><i class="fa fa-circle"></i> &nbsp; Evaluation des performances </li>
        <li class="fl_left wid_50"><i class="fa fa-circle"></i> &nbsp; Conseil RH</li>
      </ul>
      <div class="no-padding col-xs-12 margin-top-20px ">
        <a routerLink="presentation/service" class="cl_white bt bg_blue">Tous les services &nbsp; <i class="fa fa-share"></i> </a>
      </div>
      <div class="no-padding col-xs-12 margin-top-20px ">
        <h5 class="hpsimplified">Ils bénéficient de nos services :</h5>
        <ul class="no-puce no-padding no-margin horizontal">
          <li> <img src="assets/images/partner/1.png"> </li>
          <li> <img src="assets/images/partner/2.png"> </li>
          <li> <img src="assets/images/partner/3.png"> </li>
          <li> <img src="assets/images/partner/4.png"> </li>
          <li> <img src="assets/images/partner/5.png"> </li>
          <li> <img src="assets/images/partner/6.png"> </li>
        </ul>
      </div>
    </div>


</section>

<!-- END INSPIRER LE MIEUX ETRE -->

<!-- PHONE -->
<!--
  <section id="phone" class="col-xs-12 no-padding">
  <div class="content">
    <div class="col-sm-6 col-xs-12 no-padding">
      <h2 class="hpsimplified-rg cl_blue">Mettez votre plateforme dans votre poche</h2>
      <h4 class="head hpsimplified-lt">L'utilisateur la téléchargera sur une plateforme dédiée, l'installera sur son mobile, et pourra y soumettre ses préoccupations qui seront transférées au professionnel compétent, à charge pour ce dernier d'y répondre avec efficacité et dans un délai convenable.</h4>
      <ul class="no-puce no-padding no-margin horizontal">
        <li class="margin-right-5px"> <a href="#"> <img src="assets/images/playstore.png" class="img-responsive"> </a> </li>
        <li> <a href="#"> <img src="assets/images/appstore.png" class="img-responsive"> </a> </li>
      </ul>
    </div>
    <div class="col-sm-6 col-xs-12 no-padding tx_right">
      <img src="assets/images/iphone.png" class="illust">
    </div>
  </div>
</section>
-->
<app-pricing1></app-pricing1>


<!-- END PHONE -->

<!-- SOLUTION -->

<section id="solution" class="col-xs-12 no-padding tx_center">
  <div class="contener">
    <h2 class="hpsimplified-rg cl_blue tx_center">Créons ensemble des solutions : </h2>
    <h4 class="head hpsimplified-lt tx_center">adaptées aux défis en ressources humaines qui confrontent votre organisation </h4>

    <ul class="no-puce no-padding no-margin horizontal">
      <li>
        <img src="assets/images/eval.png">
        <h5 class="hpsimplified">Evaluation</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </li>
      <li>
        <img src="assets/images/coach.png">
        <h5 class="hpsimplified">Coaching</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </li>
      <li>
        <img src="assets/images/management.png">
        <h5 class="hpsimplified">Management</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </li>
      <li>
        <img src="assets/images/recrutement.png">
        <h5 class="hpsimplified">Recrutement</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </li>
      <li>
        <img src="assets/images/rh.png">
        <h5 class="hpsimplified">Ressources humaines</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
      </li>
    </ul>
  </div>
</section>

<!-- END SOLUTION -->