<!-- HEADER TITLE -->

<section id="header-title" class="col-xs-12 tx_center cl_white mission">
  <h1 class="hpsimplified"> Mes Articles </h1>
  <p class="hpsimplified_lt"> Humanising workplilisationaces
    Fournir à nos usagers et clients un panel de solutions adaptées aux problématiques RH auxquels ils font face en milieu de travai. </p>
  <div class="pathway tx_upper wid_100">
    <span> <a href="index.html"> <i class="fa fa-home cl_white"></i> Accueil </a> </span>
    <span> / </span>
    <span> <a href="#"> Mes Articles</a> </span>
  </div>
</section>

<!-- END HEADER TITLE -->

