<!-- PIEDS DE PAGE -->

<footer id="myhr" class="col-xs-12 no-padding">
  <div class="contener">
    <div class="company fl_left">
      <div class="logo margin-bottom-20px">
        <a href="index.html">
          <img src="assets/images/logo-myhr.png">
        </a>
      </div>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <div class="social">
        <ul class="no-puce horizontal no-margin no-padding">
          <li> <a href=""> <i class="fa fa-facebook bg_blue cl_white"></i> </a> </li>
          <li> <a href=""> <i class="fa fa-twitter bg_blue cl_white"></i> </a> </li>
          <li> <a href=""> <i class="fa fa-linkedin bg_blue cl_white"></i> </a> </li>
          <li> <a href=""> <i class="fa fa-instagram bg_blue cl_white"></i> </a> </li>
        </ul>
      </div>
    </div>
  
    <div class="submenu fl_left">
      <div class="col fl_right">
        <h4 class="hpsimplified">Contact</h4>
        <ul class="no-padding no-margin no-puce">
          <li> Yaoundé, Nkolbisson </li>
          <li> B.P. : 0000 </li>
          <li> infos@myhr </li>
          <li> 6 99 88 77 44 </li>
          <li> 6 88 77 11 22 </li>
        </ul>
      </div>
      <div class="col fl_right">
        <h4 class="hpsimplified">Liens utiles</h4>
        <ul class="no-padding no-margin no-puce">
          <li> <a href="#"> Mboa pages </a> </li>
          <li> <a href="#"> Campus France </a> </li>
          <li> <a href="#"> Jobs Camer </a> </li>
          <li> <a href="#"> Cameroun Job Infos</a> </li>
        </ul>
      </div>
      <div class="col fl_right">
        <h4 class="hpsimplified">Autres</h4>
        <ul class="no-padding no-margin no-puce">
          <li> <a href="#"> Accueil </a> </li>
          <li> <a href="#"> A propos </a> </li>
          <li> <a href="#"> Mentions légales </a> </li>
          <li> <a href="#"> Faq </a> </li>
          <li> <a href="#"> Plan du site </a> </li>
          <li> <a routerLink="Cgv"> Condition Géneral de vente </a> </li>
          <li> <a routerLink="Cgu"> Condition Géneral d'utilisation </a> </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<section id="copyright" class="col-xs-12 no-padding tx_center">
    <span> &copy; 2018 MyHR - Tous les droist reservés </span>
  </section>

<!-- END PIEDS DE PAGE -->
