<!-- COMPONENT -->	

<section id="component" class="col-xs-12 no-padding">
  <div class="bloc-1 tx_center">
    <h1 class="hpsimplified-rg"> Bienvenue sur notre plateforme MyHR </h1>
    <h5 class="hpsimplified-rg">Ce que nous offrons</h5>
    <p> Nous rendons les équipes et les entreprises plus heureuses et plus productives en misant sur des approches créatives, collaboratives et génératrices d'intelligence collective.</p>
  </div>

  <div class="bloc-2 tx_center">
    <div class="contener">
      <h1 class="hpsimplified-rg"> Créons ensemble des solutions :  </h1>
      <div class="row margin-top-20px"> 
        <div class="col-sm-4 col-xs-12">
          <i class="fa fa-android"></i>
          <h5 class="hpsimplified"> Recrutement </h5>
        </div>
        <div class="col-sm-4 col-xs-12">
          <i class="fa fa-archive"></i>
          <h5 class="hpsimplified"> Ressources humaines </h5>
        </div>
        <div class="col-sm-4 col-xs-12">
          <i class="fa fa-bell"></i>
          <h5 class="hpsimplified"> Management</h5>
        </div>
      </div>
      <div class="row margin-top-20px">
        <div class="col-xs-12">
          <p class="hpsimplified_lt"> Notre valeur c'est le développement intégral du capital humain à travers la pratique juste et efficace des RH </p>
        </div>
      </div>
    </div>
  </div>

  <div class="bloc-3 tx_center bg_white">
    <h1 class="hpsimplified-rg"> Notre mission sur 03 axes </h1>
    <div class="row margin-top-20px tx_left">
      <div class="col-sm-4 col-xs-12">
        <h2 class="hpsimplified cl_blue"> 01. </h2>
        <h4 class="hpsimplified-rg"> Evaluation </h4>
        <p class="tx_justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor in reprehenderit incididunt ut labore et dolore magna aliqua. </p>
      </div>

      <div class="col-sm-4 col-xs-12">
        <h2 class="hpsimplified cl_blue"> 02. </h2>
        <h4 class="hpsimplified-rg"> Coaching</h4>
        <p class="tx_justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor in reprehenderit incididunt ut labore et dolore magna aliqua. </p>
      </div>

      <div class="col-sm-4 col-xs-12">
        <h2 class="hpsimplified cl_blue"> 03. </h2>
        <h4 class="hpsimplified-rg"> Management </h4>
        <p class="tx_justify"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor in reprehenderit incididunt ut labore et dolore magna aliqua. </p>
      </div>
    </div>
  </div>
</section>

<!-- END COMPONENT 	-->