<!-- COMPONENT -->	

<section id="component" class="col-xs-12 no-padding">
  <div class="form">	
    <form class="">
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Identifiant ou email : </label>
        <input type="email" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. exemple@domaine.com ...">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Mot de passe : </label>
        <input type="password" name="password" class="fl_left wid_100">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <input type="submit" class="fl_left wid_50 bg_blue cl_white hpsimplified" value="S'inscrire">
        <div class="fl_left wid_50">
        <span class="lib"> &nbsp;&nbsp; ou bien &nbsp;&nbsp; </span>
          <span> <a href=""> <i class="fa fa-facebook"></i> </a> </span>
          <span> <a href=""> <i class="fa fa-twitter"></i> </a> </span>
          <span> <a href=""> <i class="fa fa-linkedin"></i> </a> </span>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- END COMPONENT 	-->