<!-- NEWSLETTER -->

<section id="newsletter" class="col-xs-12 no-padding tx_center">
  <div class="contener">
    <h3 class="hpsimplified cl_white">S'inscrire aux newsletter</h3>
    <p class="cl_white">Recevez toutes nos actualités et événements RH à venir ! Vous pouvez consulter les conditions d'utilisation de vos données à tout moment dans notre page "mentions légales" et vous pouvez 
      vous désabonner de nos listes quand vous le souhaitez, en bas de nos envois.</p>

    <form>	
      <input type="text" name="email" class="fl_left" value="exemple@domaine.com">
      <button type="submit" class="fl_left">S'inscrire &nbsp; <i class="fa fa-check cl_white bg_blue"></i></button>
    </form>
    <div class="col-xs-12 no-padding margin-top-20px">
      <span>En vous connectant au site web, vous acceptez les <a href=""> conditions d'utilisation </a></span>
    </div>
    </div>
</section>

<!-- END NEWSLETTER -->