<!-- COMPONENT -->	

<section id="component" class="col-xs-12 no-padding">
  <div class="form">	
    <form class="">
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Nom de l’entreprise : </label>
        <input type="text" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. MyHR ..." #nom="ngModel" placeholder = "Name of your society" required [(ngModel)] = "entreprise.nom" name="nom">
      </div>
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Taille de l'entreprise : </label>
        <select name="taille_entrep" class="fl_left wid_100" required [(ngModel)] = "entreprise.tailleEntreprise">
          <option> Start-up </option>
          <option> PME </option>
          <option> Grande entreprise </option>
          <option> Multinationale </option>
        </select>
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Effectif de l'entreprise : </label>
        <select name="nombreEmploye" class="fl_left wid_100" required [(ngModel)] = "entreprise.nombreEmploye" >
          <option> 1 – 5 </option>
          <option> 5 - 10 </option> 
          <option> 10 – 20 </option>
          <option> 20 – 50 </option>
          <option> 50 – 100 </option>
        </select>
      </div>
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Secteur d'activité : </label>
        <input type="text"  class="fl_left wid_100" placeholder="Ex. Agriculture ..." #secteur="ngModel"  required [(ngModel)] = "entreprise.secteurActivite" name="secteurActivite">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Adresse : </label>
        <input type="text"  class="fl_left wid_100" placeholder="Ex. Yaoundé ..." #adress="ngModel" required [(ngModel)]="entreprise.addresse" name="addresse">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> SiteWeb : </label>
        <input type="text"  class="fl_left wid_100" placeholder="Ex. Afrologix.com ..." #site="ngModel" required [(ngModel)]="entreprise.siteWeb" name="siteWeb">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Tel : </label>
        <input type="tel"  class="fl_left wid_100" placeholder="555-45-78-90" #tel="ngModel"
            pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}" type = "text" #tel="ngModel" required [(ngModel)]="entreprise.telephone" name="telephone">
      </div>
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Ville : </label>
        <input type="text" class="fl_left wid_100" placeholder="Ex. Yaoundé ..." #adress="ngModel" required [(ngModel)]="entreprise.ville" name="ville">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Nom du représentant : </label>
        <input type="text"  class="fl_left wid_100" placeholder="Ex. Etienne ..." #nomR="ngModel" required [(ngModel)]="entreprise.nomRepresentant" name="nomRepresentant">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Fonction : </label>
        <input type="text"  class="fl_left wid_100" placeholder="Ex. Directeur ..." #fonction="ngModel" required [(ngModel)]="entreprise.fonction" name="fonction">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Date d'inscrition : </label>
        <input type="date" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. 20/05/2018 ..." #date="ngModel" required [(ngModel)]="entreprise.dateInscription" name="dateInscription">
      </div>
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Type d'utilisateur : </label>
        <select name="taille_entrep" class="fl_left wid_100" name="utilisateur" required [(ngModel)] = "entreprise.login">
          <option *ngFor=" let u of utilisateur " [(ngValue)]="u.login">{{u.login}}</option>
        </select>
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Mot de passe : </label>
        <input type="password"  class="fl_left wid_100" placeholder=" ..." #login="ngModel" placeholder = "password" required [(ngModel)] = "entreprise.password" name="password">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Confirmer le mot de passe : </label>
        <input type="password" class="fl_left wid_100" placeholder=" ..." #login="ngModel" placeholder = "confirmPassword" required [(ngModel)] = "entreprise.confirmPassword" name="password">
      </div>
      <div class="margin-bottom-20px fl_left wid_100">
        <input type="submit" class="fl_left wid_50 bg_blue cl_white hpsimplified"  (click)= "saveEntre()" value="S'inscrire">
      </div>
    </form>
  </div>
</section>

<!-- END COMPONENT 	-->