<div id="container">
     <!-- HEADER TITLE -->

<section id="header-title" class="col-xs-12 tx_center cl_white mission">
  <h1 class="hpsimplified"> Liens Utiles </h1>
  <p class="hpsimplified_lt"> Humanising workplilisationaces
    Fournir à nos usagers et clients un panel de solutions adaptées aux problématiques RH auxquels ils font face en milieu de travai. </p>
  <div class="pathway tx_upper wid_100">
    <span> <a href="index.html"> <i class="fa fa-home cl_white"></i> Accueil </a> </span>
    <span> / </span>
    <span> <a href="#"> Liens Utiles</a> </span>
  </div>
</section>

<!-- END HEADER TITLE -->
  <!-- CLIENTS LOGOS -->
	<div id="lg">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-2 col-lg-offset-1">
					<img src="assets/images/clients/c01.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/images/clients/c02.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/images/clients/c03.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/images/clients/c04.gif" alt="">
				</div>
				<div class="col-lg-2">
					<img src="assets/images/clients/c05.gif" alt="">
				</div>
			</div><!-- row -->
		</div><!-- container -->
  </div><!-- dg -->
 </div>
