 <!-- CLIENTS LOGOS -->
 <div id="lg">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-2 col-lg-offset-1">
        <img src="assets/images/clients/c01.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="assets/images/clients/c02.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="assets/images/clients/c03.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="assets/images/clients/c04.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="assets/images/clients/c05.gif" alt="">
      </div>
    </div><!-- row -->
  </div><!-- container -->
</div><!-- dg -->
