<section id="main-slider" class="no-margin">
  <div class="carousel slide wet-asphalt">
      <ol class="carousel-indicators">
          <li data-target="#main-slider" data-slide-to="0" class="active"></li>
          <li data-target="#main-slider" data-slide-to="1"></li>
          <li data-target="#main-slider" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="item active" style="background-image: url(assets/images/slider/2.jpg)">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12">
                       <div class="carousel-content centered " style="margin-top: 173px" >
                              <h2 class="boxed animation animated-item-1 sld">BIENVENUE DANS CE NOUVEAU MONDE</h2>
                              <p class="boxed animation animated-item-2 sld">SPÉCIALEMENT CONÇU POUR VOUS, UN MONDE OÙ L’INNOVATION EST UNE TRADITION,</p>
                              <p class="animation animhated-item-2 sld">&nbsp;&nbsp;OÙ LA SATISFACTION N’EST PLUS UN MYTHE.</p>
                              
                          </div>
                        <!--  <button class="btn btn-default"style="padding-left:20px"><a routerLink="Reservation" >Faites une Reservation</a></button>
                          <button class="btn btn-default"><a routerLink="Inscription" >Rejoignez la team Myhr</a></button>-->
                          <a routerLink="inscriptpart" class="cl_white bt bg_blue animation animated-item-1 " style="margin-right: 10px"><i class="fa fa-user"></i> &nbsp; Rejoignez la team Myhr</a>
                          <a routerLink="Reservation" class="cl_white bt bg_blue animation animated-item-1"><i class="fa fa-edit"></i> &nbsp; Faites une reservation</a>
                      </div>
                  </div>
              </div>
          </div><!--/.item-->
          <div class="item" style="background-image: url(assets/images/slider/3.jpg)" >
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="carousel-content center centered" style="margin-top: 173px">
                              <h2 class="boxed animation animated-item-1 sld">NOUS METTONS À VOTRE SERVICE</h2>
                              <p class="boxed animation animated-item-2 sld">DES ÉQUIPES EXPÉRIMENTÉES, QUI VOUS ACCOMPAGNENT VERS DES SOLUTIONS PERSONNALISÉES.</p>
                              <br>
                            
                          </div>
                          <a routerLink="inscriptpart" class="cl_white bt bg_blue animation animated-item-1 " style="margin-right: 10px"><i class="fa fa-user"></i> &nbsp; Rejoignez la team Myhr</a>
                          <a routerLink="Reservation" class="cl_white bt bg_blue animation animated-item-1"><i class="fa fa-edit"></i> &nbsp; Faites une reservation</a>
                      </div>
                  </div>
              </div>
          </div><!--/.item-->
          <div class="item" style="background-image: url(assets/images/slide/img.jpg)" >
              <div class="container">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="carousel-content centered" style="margin-top: 173px">
                              <h2 class="boxed animation animated-item-1 sld">NOUS VOUS PROPOSONS</h2>
                              <p class="boxed animation animated-item-2 sld">DES SOLUTIONS PERFORMANTES, À LA POINTE DE LA TECHNOLOGIE ET TAILLÉES À VOTRE MESURE</p>
                              
                          </div>
                          <a routerLink="inscriptpart" class="cl_white bt bg_blue animation animated-item-1 " style="margin-right: 10px"><i class="fa fa-user"></i> &nbsp; Rejoignez la team Myhr</a>
                          <a routerLink="Reservation" class="cl_white bt bg_blue animation animated-item-1"><i class="fa fa-edit"></i> &nbsp; Faites une reservation</a>
                      </div>
                     
                  </div>
              </div>
          </div><!--/.item-->
      </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
  <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
      <i class="fa fa-angle-left"></i>
  </a>
  <a class="next hidden-xs" href="#main-slider" data-slide="next">
      <i class="fa fa-angle-right"></i>
  </a>
</section><!--/#main-slider-->