<!-- COMPONENT -->	

<section id="component" class="col-xs-12 no-padding">
  <div class="contener">
    <tr>
    <div class="row equipe">
      <div class="col-sm-3 col-xs-12 tx_center">
        <img src="assets/images//p1.jpg" class="img-responsive">
        <h4 class="hpsimplified"> <a routerLink="Mkitio">Michel KITIO </a></h4>
        <h6 class="hpsimplified-lt tx_upper cl_blue">  FOUNDER & CHAIR </h6>
        
      </div>
      <div class="col-sm-3 col-xs-12 tx_center">
        <img src="assets/images//p2.jpg" class="img-responsive">
        <h4 class="hpsimplified"> <a routerLink="Lsouhe">Merveille Lydia SOUHE </a></h4>
        <h6 class="hpsimplified-lt tx_upper cl_blue"> CO-CHAIR </h6>
        
      </div>
      <div class="col-sm-3 col-xs-12 tx_center">
        <img src="assets/images//p1.jpg" class="img-responsive">
        <h4 class="hpsimplified"> <a routerLink="Lmboe">Laetitia MBOE </a> </h4>
        <h6 class="hpsimplified-lt tx_upper cl_blue"> MANAGING PARTNER </h6>
        
      </div>
      <div class="col-sm-3 col-xs-12 tx_center">
        <img src="assets/images//p2.jpg" class="img-responsive">
        <h4 class="hpsimplified"> <a routerLink="Dmellong">Dominique ELLONG </a> </h4>
        <h6 class="hpsimplified-lt tx_upper cl_blue"> MANAGING PARTNER </h6>
        
      </div>
    </div>
  </tr>
  <tr>
      <div class="row equipe">
        <div class="col-sm-3 col-xs-12 tx_center">
          <img src="assets/images//p1.jpg" class="img-responsive">
          <h4 class="hpsimplified"> <a routerLink="pierrot">Pierrot MPEY YETNA </a>  </h4>
          <h6 class="hpsimplified-lt tx_upper cl_blue"> MANAGING PARTNER </h6>
         
        </div>
        <div class="col-sm-3 col-xs-12 tx_center">
          <img src="assets/images//p2.jpg" class="img-responsive">
          <h4 class="hpsimplified"> <a routerLink="nadine">Nadine NKOU NDZANA, </a></h4>
          <h6 class="hpsimplified-lt tx_upper cl_blue"> TEAM SUPPORT </h6>
          
        </div>
        <div class="col-sm-3 col-xs-12 tx_center">
          <img src="assets/images//p1.jpg" class="img-responsive">
          <h4 class="hpsimplified"> <a routerLink="olivier">Olivier NJIKE </a></h4>
          <h6 class="hpsimplified-lt tx_upper cl_blue"> IA ADVISORY </h6>
          
        </div>
        <div class="col-sm-3 col-xs-12 tx_center">
          <img src="assets/images//p2.jpg" class="img-responsive">
          <h4 class="hpsimplified"> <a routerLink="vanel">Vanel NEMSI </a> </h4>
          <h6 class="hpsimplified-lt tx_upper cl_blue"> FINANCIAL ADVISORY </h6>
          
        </div>
        <div class="col-sm-3 col-xs-12 tx_center">
            <img src="assets/images//p2.jpg" class="img-responsive">
            <h4 class="hpsimplified"> <a routerLink="franck">Frank-Billy KITIO </a> </h4>
            <h6 class="hpsimplified-lt tx_upper cl_blue"> LEGAL ADVISORY </h6>
           
          </div>
      </div>
    </tr>
  </div>
</section>

<!-- END COMPONENT 	-->