<!-- SLIDE -->

<section id="slide" class="col-xs-12 no-padding bg_white">

  <div class="contener">
    <div class="content-form">
      <h1 class="hpsimplified-lt no-margin">Rechercher parmi plus <span class="hpsimplified cl_blue">50 000</span> professionnels</h1>
        <div class="row margin-top-20px tx_left">
          <div class="col-sm-4 col-xs-12">
          <!--  <p class="tx_justify"> BIENVENUE SUR VOTRE PLATEFORME INTERACTIVE MyHR
              Rejoignez la plus grande communauté d’acteurs et de professionnels des Ressources Humaines au Cameroun !
              CE QUE NOUS OFFRONS
              Nous rendons les équipes et les entreprises plus heureuses et plus productives en misant sur des approches créatives, collaboratives et génératrices d'intelligence collective.
              Je suis TRAVAILLEUR
              MyHR m’offre la possibilité de soumettre des questions liées à ma situation de travail à un professionnel des Ressources Humaines, afin d’y trouver réponses.
              Je suis EMPLOYEUR
              Des spécialistes de la fonction RH dédient leur expertise pour développer des solutions adéquates aux problématiques de management de mon capital humain.
              Je suis PROFESSIONNEL DES RESSOURCES HUMAINES
              Je me joins au plus large et plus productif réseau de professionnels des RH au Cameroun, et je contribue ainsi à l’essor d’une nouvelle expérience des RH sur notre territoire et ailleurs.
             </p>-->
             
              <a routerLink="Reservation" class="cl_white bt bg_blue"><i class="fa fa-edit"></i> &nbsp; Passer une commande</a>
            
          </div>
    
          <div class="col-sm-4 col-xs-12">
          <!--  <p class="tx_justify"> INSPIRER LE MIEUX ETRE ET LE RENDEMENT
              Notre valeur c’est le développement intégral du capital humain et des organisations à travers une pratique juste et efficace des RH.
              CREONS ENSEMBLE DES SOLUTIONS
              Adaptées aux défis en Ressources Humaines auxquels vous êtes confrontés en tant qu’employés, managers, promoteurs d’entreprise. Nous vous permettons ainsi d’accéder aux solutions suivantes :
              Conseils RH
              Documentation en ligne
              Liens utiles
              Newsletter
              Elaboration de documents de référence
              Accompagnement/consulting sur des missions ponctuelles (Recrutement, formation, paie, gestion administrative, litiges liés à l’emploi…)
              Coaching RH permanent </p>-->
              
                <a routerLink="entreprise" class="cl_white bt bg_blue"><i class="fa fa-user-plus"></i> &nbsp; Rejoignez la Team Myrh</a>
              
          </div>
        </div>
  <!-- <form>
        <div class="fl_left margin-right-5px">
          <input id="tag" type="text" class="form-control" placeholder="Mot clé, profil, entreprise ..." required [(ngModel)] = " search.motCle" name="motCle">
        </div>
        <div class="fl_left margin-right-5px">
          <select id="activite" class="form-control" required [(ngModel)] = " search.secteur" name="secteur">
            <option *ngFor=" let s of secteurs " [(ngValue)]=" s.secteurActivite " >{{s.secteurActivite}}</option>
          </select>
        </div>
        <div class="fl_left margin-right-5px">
          <select id="ville" class="form-control" required [(ngModel)] = " search.ville" name="ville">
            <option *ngFor=" let v of secteurs " [(ngValue)]=" v.ville ">{{v.ville}}</option>
          </select>
        </div>
        <div class="fl_left margin-right-5px">
          <button type="submit" class="form-control bg_blue cl_white" (click)="afficher()">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>-->
     <!-- <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <button type="text" class="form-control bg_blue cl_white" >
              Passer une commande
            </button>
          </div>
          <div class="col-sm-6">
            <button type="text" class="form-control bg_blue cl_white" >
              Rejoignez la team Myrh
            </button>
          </div>
        </div>
      </div>-->
     
     <!-- <div class="margin-top-5px col-xs-12 no-padding">
        <select class="cl_white bt bg_gris"required [(ngModel)] = "search.libelleProfil">
         <option *ngFor=" let p of profils " [(ngValue)]="p.idprofil">{{p.libelleProfil}}</option>
        </select>
      </div>-->
    </div>
  </div>
  
</section>

<!-- END SLIDE -->