<!-- HEADER TITLE -->

<section id="header-title" class="col-xs-12 tx_center cl_white mission">
  <h1 class="hpsimplified"> Nos services </h1>
  <p class="hpsimplified_lt"> Notre principal service est un chat qui vous permet d’interagir en direct via cette plateforme avec 
    des professionnels des Ressources Humaines.
    </p>
  <div class="pathway tx_upper wid_100">
    <span> <a href="index.html"> <i class="fa fa-home cl_white"></i> Accueil </a> </span>
    <span> / </span>
    <span> <a href="#"> Nos services </a> </span>
  </div>

</section>
<!--<p class="hpsimplified_lt"> Notre principal service est un chat qui vous permet d’interagir en direct via cette plateforme avec 
    des professionnels des Ressources Humaines. Que vous soyez employé ou une entreprise, 
    il vous est possible de soumettre GRATUITEMENT vos préoccupations et d’y trouver des 
    conseils d’experts avisés.   Notre principal service est un chat qui vous permet d’interagir en direct via cette plateforme avec des professionnels des Ressources Humaines. Que vous soyez employé ou une entreprise, il vous est possible de soumettre GRATUITEMENT vos préoccupations et d’y trouver des conseils d’experts avisés.
    NOTRE EXPERTISE SE DEPLOIE SUR 5 PRINCIPAUX AXES
    PROTECTION LEGALE : En tant que professionnels des Ressources Humaines, nous devons être disposés à agir promptement et efficacement dans la résolution de litiges liés à l’emploi. Notre mission sur ce plan est d’éduquer et de conseiller autant les employés que les leaders d’entreprises à la prévention et la gestion de tels cas, le tout au bénéfice de la loi.
    CREATION D’UN SYSTEME DE VALEUR COHERENT : Un auquel les promoteurs d’entreprises et les employés pourraient s’identifier. Partager des principes de saine émulation et d’une philosophie mettant l’humain au centre du développement organisationnel et entrepreneurial.
    EMPLOYES ET PERFORMANCE ORGANISATIONNELLE : Le succès d’une compagnie sur le long terme et sa performance financière sont la résultante de ses talents, de la motivation et des réalisations de ceux-ci. En promouvant cette corrélation et en invitant les leaders des organisations à former et développer les compétences de ses collaborateurs, on aboutit à un meilleur rendement et une plus grande valeur ajoutée.
    ACQUISITION ET RETENTION DES TALENTS : Nous nous engageons à être avec vous plus largement responsables de la construction et de la gestion de systèmes qui recrutent, attirent, forment, motivent  et retiennent les meilleurs profils au service des entreprises.
    PLANIFICATION : Chaque professionnel des RH doit être suffisamment pro-actif en matière de planification stratégique. Ceci implique l’évaluation des forces et faiblesses de votre compagnie et les projections en termes d’opportunités et menaces.
     « Le problème avec la pratique moderne des RH c’est qu’il est attendu d’elle qu’elle facilite l’atteinte des objectifs organisationnels, en même temps qu’elle croise les plus hautes attentes des employés en termes de conditions de vie et de travail. Ces deux champs d’intervention ne sont pas toujours compatibles, ce qui amène parfois le RH à tenir la perche par les deux bouts. »
     LA SOUSCRIPTION A NOS SERVICES SE FAIT SUIVANT LES MODALITES SUIVANTES 
     <button><img src="assets/images/services/Tarification.xlsx"></button>
    </p>-->


<!-- END HEADER TITLE -->