<!-- COMPONENT -->	

<section id="component" class="col-xs-12 no-padding">
  <div class="form">	
    <form class="">
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Nom  : </label>
        <input type="text" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. Dupont ...">
      </div>
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Email  : </label>
        <input type="text" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. omg@example.com ...">
      </div>
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Tel  : </label>
        <input type="text" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. 699 999 999...">
      </div>
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Ville Actuel  : </label>
        <input type="text" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. Yaoundé...">
      </div>
      
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Catégorie: </label>
        <select name="taille_entrep" class="fl_left wid_100">
          <option> Start-up </option>
          <option> PME </option>
          <option> Grande entreprise </option>
          <option> Multinationale </option>
        </select>
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Produit : </label>
        <select name="taille_entrep" class="fl_left wid_100">
          <option> 1 – 5 </option>
          <option> 5 - 10 </option> 
          <option> 10 – 20 </option>
          <option> 20 – 50 </option>
          <option> 50 – 100 </option>
        </select>
      </div>

     
      

      <div class="margin-bottom-20px fl_left wid_100">
        <input type="submit" class="fl_left wid_50 bg_blue cl_white hpsimplified" value="Reserver">
      </div>
    </form>
  </div>
</section>

<!-- END COMPONENT 	-->