<!-- HEADER -->

<header id="myhr" class="col-xs-12 no_padding bg_white bd_windows ">

  <!-- LOGO -->

    <div class="logo fl_left">
      <img src="assets/images/logo-myhr.png" alt="Logo MyHR" width="" height="" class="img-responsive">
    </div>

  <!-- END LOGO -->

  <!-- BOUTON APPARAISSANT EN MODE MOBILE -->

    <i class="fa fa-bars border-radius_4px bg_blue cl_white fl_right display_none"></i>

  <!-- END BOUTON APPARAISSANT EN MODE MOBILE -->

    <div class="after_logo fl_left">

      <!-- ACCOUNT MENU -->

        <div class="accountmenu fl_right bg_blue border-radius_4px">
          <ul class="no-padding no-list-item horizontal">
            <li> <a routerLink="connexion">Se connecter</a> </li>
            <li> <a routerLink="inscription">S'inscrire</a> </li>
            <li class="job"> <a href="#" class="border-radius_4px bg_white">Publier un job !</a> </li>
          </ul>
        </div>

      <!-- END ACCOUNT MENU -->

      <!-- TOP MENU -->	

        <div class="topmenu fl_right">
          <div class="menu-container">
             <ul class="menu">
                <li><a routerLink="">Accueil</a></li>
              <li><a routerLink="">Présentation</a>
                <ul>
                  <li><a routerLink="presentation/mission"  >Notre mission</a></li>
                  <li><a routerLink="presentation/service" >Nos services</a></li>
                    <li><a routerLink="presentation/equipe" >Notre équipe</a></li>
                </ul>
              </li>
              <li><a routerLink="documentation" >Documentation</a></li>
            <!--  <li><a routerLink="Nosprix" >Nos prix</a></li> -->
             <!-- <li><a routerLink="Reservation" >Réservation</a>
             
              </li>-->
             <!-- <li><a routerLink="liensutiles" >Nos Partenaires</a></li>-->
            <!--  <li><a routerLink="mesarticles" >Actualités Myrh</a></li> -->
              <li><a routerLink="contact" >Contact</a></li>
            </ul>
            
          </div>
          					
        </div>
       

      <!-- END TOP MENU -->												

    </div>

</header>

