<!-- COMPONENT -->	

<section id="component" class="col-xs-12 no-padding">
  <div class="form">	
    <form class="">
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Nom de l’entreprise : </label>
        <input type="text" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. MyHR ...">
      </div>
      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Taille de l'entreprise : </label>
        <select name="taille_entrep" class="fl_left wid_100">
          <option> Start-up </option>
          <option> PME </option>
          <option> Grande entreprise </option>
          <option> Multinationale </option>
        </select>
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Effectif de l'entreprise : </label>
        <select name="taille_entrep" class="fl_left wid_100">
          <option> 1 – 5 </option>
          <option> 5 - 10 </option> 
          <option> 10 – 20 </option>
          <option> 20 – 50 </option>
          <option> 50 – 100 </option>
        </select>
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Ville : </label>
        <input type="text" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. Yaoundé ...">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Quartier : </label>
        <input type="text" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. Bastos ...">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Rue : </label>
        <input type="text" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. Rue 8 ...">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <label class="hpsimplified-rg fl_left wid_100"> Boîte postale : </label>
        <input type="text" name="nom_entrep" class="fl_left wid_100" placeholder="Ex. 3001 ...">
      </div>

      <div class="margin-bottom-20px fl_left wid_100">
        <input type="submit" class="fl_left wid_50 bg_blue cl_white hpsimplified" value="S'inscrire">
      </div>
    </form>
  </div>
</section>

<!-- END COMPONENT 	-->